<div class="container">
    <h2 class="display-4">About</h2>
</div>
<section class="feature-2 mt-5 mybold"></section>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-4">
            <div class="feature-item mb-5 mb-lg-0">
                <div class="gradient-icon gradient-3">
                </div>
                <h3 class="h5 mybold">Symbols</h3>
                <p>Symbols page will display all the symbols of the tradings comapanies Name, Date and type of the company.</p>
                <a class="nav-link feature-link" asp-area="" asp-controller="Home" asp-action="Symbols">Learn More </a>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-item mb-5 mb-lg-0">
                <div class="gradient-icon gradient-1">
                </div>
                <h3 class="h5 mybold">News</h3>
                <p> News page will display the latest news Based on the selection of the company.it will also provide the summary, links,Hedline and Related information.</p>
                <a class="nav-link feature-link" asp-area="" asp-controller="Home" asp-action="News">learn More </a>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-item mb-5 mb-lg-0">
                <div class="gradient-icon gradient-2">
                </div>
                <h3 class="h5 mybold">Intraday Decision</h3>
                <p>This page will give the information on whether to invest on a particular company in intraday using the latest price and 52 week low price.</p>
                <a class="nav-link feature-link" asp-area="" asp-controller="Home" asp-action="StockstoInvest">Intraday Decisions </a>

            </div>
        </div>
        <!--feature block ends-->
    </div>
    <div class="container-fluid">

        <h4 class="mybold my-auto text-dark py-3">
            API End points Used:
        </h4>
        <ul>
            <li>
                <a href="https://api.iextrading.com/1.0/ref-data/symbols">https://api.iextrading.com/1.0/ref-data/symbols</a>
            </li>
            <li>
                <a href="https://api.iextrading.com/1.0/stock/aapl/news">https://api.iextrading.com/1.0/stock/aapl/news</a>
            </li>
            <li>
                <a href="https://api.iextrading.com/1.0/stock/aapl/quote">https://api.iextrading.com/1.0/stock/aapl/quote</a>
            </li>
            <li>
                <a href="https://api.iextrading.com/1.0/stock/aapl/price">https://api.iextrading.com/1.0/stock/aapl/price</a>
            </li>
        </ul>

    </div>
    <div class="container-fluid">

        <h4 class="mybold my-auto text-dark py-3">
            Database Tables created:
        </h4>
        <ul>
            <li>
                Companies
            </li>
            <li>
                Equities
            </li>
            <li>
                News
            </li>
            <li>
                Price
            </li>
            <li>
                Quotes
            </li>
        </ul>

    </div>
    <div class="container-fluid">

        <h4 class="mybold my-auto text-dark py-3">
            Self Reflection      
        </h4>
        <ul>
            <li>
                Learnt about the MVC architecture
            </li>
            <li>
                Learnt about JSON Parsing and API's.
            </li>
            <li>
                Learnt to build a full length project.
            </li>
            <li>
                Understood Code first Methodology , Object relational mapping and entity framework.
            </li>
            <li>
                Learnt about the Razor code and coding the html files with C#.
            </li>
            <li>
                Understood the Concept of routing and parameterised routing.
            </li>
            <li>
                Understood the concept of passing data to the Views.
            </li>
        </ul>

    </div>
    <div class="container-fluid">

        <h4 class="mybold my-auto text-dark py-3">
            Team
        </h4>
        <ul>
            <li>
                Shiva Allani
            </li>
            <li>
                Akhilesh Gundaboina
            </li>
            <li>
                Raghavendra Dasari
            </li>
        </ul>

    </div>
